$primary: #54a2de;
$secondary: #f4f6f8;
$body-bg: $secondary;
$theme-colors: (
  'primary': #54a2de,
  'secondary': #f4f6f8,
  'success': #1ce1ac,
  'info': #ff7d50,
  'warning': #ffbe0b, 
  'danger': #ff007f,
  'light': #f5f8fc,
  'dark': #001738,
);